<script>
 import { RouterView, Link } from "@bjornlu/svelte-router"
</script>

<main>
	<Link to="/">
		<h1>Qud Creator</h1>
	</Link>

	<RouterView />
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
