
<script>
 import { attributePoints } from '../stores/attributeStore.js'

 export let attribute;
 export let value;

 $: pointCost = $value <= 17 ? 1 : 2

 function increment() {
     if ($attributePoints >= pointCost && $value < 24) {
         value.update(n => n + 1)
         attributePoints.update(n => n - pointCost)
     }
 }

 function decrement() {
     if ($value > 10) {
         value.update(n => n - 1)
         attributePoints.update(n => n + pointCost)
     }
 }

</script>

<tr>
    <td>{attribute}:</td> <td>{$value}</td>
    <td><button on:click={increment}>+</button></td>
    <td><button on:click={decrement}>-</button></td>
</tr>
