
<script>
 import Attribute from './Attribute.svelte'

 import { attributePoints, strength, agility, toughness, intelligence, willpower, ego } from '../stores/attributeStore.js'

</script>

<div>
    <h1>Attributes:</h1>

    <p>Attribute points remaining: {$attributePoints}</p>

    <table>
        <Attribute attribute={"Strength"} value={strength}/>
        <Attribute attribute={"Agility"} value={agility}/>
        <Attribute attribute={"Toughness"} value={toughness}/>
        <Attribute attribute={"Intelligence"} value={intelligence}/>
        <Attribute attribute={"Willpower"} value={willpower}/>
        <Attribute attribute={"Ego"} value={ego}/>
    </table>
</div>

<style>
 table {
     text-align: center;
     margin: 0 auto;
 }
</style>
