
<script>
 import { calling } from '../stores/callingStore.js'
 export let name = ""

 $: selected = $calling === name
</script>

<div>
    <h2 class={ selected ? "selected" : "" }>{name} <button on:click={() => calling.set(name)}>select</button></h2>

    <ul>
        <slot></slot>
    </ul>
</div>

<style>
 .selected {
     color: green;
 }

 h2 {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 15em;
 }

 ul {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     width: 15em;
 }
</style>
