
<script>
 let shown = false
</script>

<div>
    {#if shown}

        <div>
            <slot></slot>
        </div>

        <button on:click={ () => shown = false }>Hide</button>

    {:else}

        <button on:click={ () => shown = true }>Show</button>

    {/if}
</div>
