
<script>
 import { genotype } from '../stores/genotypeStore.js'
 import { attributePoints, strength, agility, toughness, intelligence, willpower, ego } from '../stores/attributeStore.js'

 let genotypeSelection = $genotype

 $: {
     genotype.update(n => genotypeSelection)

     let maxPoints = 44
     let startingPoints = 10

     if (genotypeSelection === "True Kin") {
         maxPoints = 38
         startingPoints = 12
     }

    attributePoints.update(n => maxPoints)
    strength.update(n => startingPoints)
    agility.update(n => startingPoints)
    toughness.update(n => startingPoints)
    intelligence.update(n => startingPoints)
    willpower.update(n => startingPoints)
    ego.update(n => startingPoints)
 }
</script>

<div>
    <h1>Genotype:</h1>

    <label>
        <input type=radio bind:group={genotypeSelection} value={"Mutated Human"}>
        Mutated Human
    </label>

    <label>
        <input type=radio bind:group={genotypeSelection} value={"True Kin"}>
        True Kin
    </label>
</div>
