
<script>
 import { mutationPoints, morphotype, mutations, defectSelected, exclusions } from '../stores/mutationStore.js'

 export let mutation
 export let classification
 export let defect = false

 $: added = $mutations.some(elem => elem.name === mutation.name)

 const add = () => {
     if ($mutationPoints >= mutation.cost && !$exclusions.includes(mutation.name) && ((defect && !$defectSelected) || (!defect))) {
         mutationPoints.update(n => n - mutation.cost)

         mutations.update(oldMutations => [...oldMutations, mutation])
         exclusions.update(oldExclusions => oldExclusions.concat(mutation.excludes))

         if (defect) {
             defectSelected.set(true)
         }

        added = true
     }

 }

 const remove = () => {
     if ($mutations.some(elem => elem.name === mutation.name)) {
        mutationPoints.update(n => n + mutation.cost)

        mutations.update(oldMutations => oldMutations.filter(m => {
            return m.name !== mutation.name
        }))

        let newExclusions = []

        $mutations.map(m => newExclusions = newExclusions.concat(m.excludes))

        exclusions.update(oldExclusions => newExclusions)

        added = false

        if (defect) {
            defectSelected.set(false)
        }
     }
 }

 const addOrRemove = () => {
     if (added) {
         remove()
     } else {
         add()
     }
 }

 $: disabled = $exclusions.some(elem => elem === mutation.name)
            || (defect && $defectSelected)
            || $mutationPoints < mutation.cost

</script>

<div class={(disabled && !added) ? 'disabled' : (added ? 'selected' : '')}>
    <input type=checkbox on:click={addOrRemove} checked={added} disabled={disabled && !added}>
    {mutation.name} [{mutation.cost}]
</div>

<style>
 .disabled {
     color: red;
     text-decoration: line-through;
 }
 .selected {
     color: green;
 }
</style>
