
<script>
 import mutationData from '../data/mutations.js'
 import Mutation from './Mutation.svelte'
 import Drawer from './Drawer.svelte'
 import { mutationPoints } from '../stores/mutationStore.js'
</script>

<div>
    <h1>Mutations:</h1>

    <p>Mutation points: {$mutationPoints}</p>

    <h2>Physical Mutations:</h2>

    <ul>
        <Drawer>
            {#each mutationData.physical_mutations as mut}
                <li>
                    <Mutation mutation={mut} classification="physical"/>
                </li>
            {/each}
        </Drawer>
    </ul>


    <h2>Physical Defects:</h2>

    <ul>
        <Drawer>
            {#each mutationData.physical_defects as mut}
                <li>
                    <Mutation mutation={mut} classification="physical" defect={true}/>
                </li>
            {/each}
        </Drawer>
    </ul>

    <h2>Mental Mutations:</h2>

    <ul>
        <Drawer>
            {#each mutationData.mental_mutations as mut}
                <li>
                    <Mutation mutation={mut} classification="mental"/>
                </li>
            {/each}
        </Drawer>
    </ul>

    <h2>Mental Defects:</h2>

    <ul>
        <Drawer>
            {#each mutationData.mental_defects as mut}
                <li>
                    <Mutation mutation={mut} classification="mental" defect={true}/>
                </li>
            {/each}
        </Drawer>
    </ul>
</div>

<style>
 ul {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     width: 15em;
 }
</style>
