
<script>
 import { navigate } from '@bjornlu/svelte-router'

 import { genotype } from '../stores/genotypeStore.js'
 import { attributePoints, strength, agility, toughness, intelligence, willpower, ego } from '../stores/attributeStore.js'
 import { mutationPoints, morphotype, mutations } from '../stores/mutationStore.js'
 import { calling } from '../stores/callingStore.js'

 import characterService from '../services/character.js'

 let name = ""
 let info = ""

 const backend = NODE_ENV === "development" ? BACKEND_DEV : BACKEND

 $: {
     console.log(`Using backend: ${backend}`)
 }

 $: character = {
     name: name,
     info: info,
     calling: $calling,
     genotype: $genotype,
     attributes: {
         attributePoints: $attributePoints,
         strength: $strength,
         agility: $agility,
         toughness: $toughness,
         intelligence: $intelligence,
         willpower: $willpower,
         ego: $ego
     },
     mutations: {
         mutationPoints: $mutationPoints,
         morphotype: $morphotype,
         mutations: $mutations.map(m => m.name)
     }
 }

 const submitCharacter = () => {
     characterService.createCharacter(character).then(data => {
         console.log(data)

         navigate(`/view/${data.id}`)
     })
 }

</script>

<div>
    <h2>Overview:</h2>

    <h3>Name:</h3>
    <input type=text bind:value={name}>

    <h3>Extra info:</h3>
    <input type=text bind:value={info}>

    <h3>Genotype: {$genotype}</h3>

    <h3>Attributes:</h3>

    <p>Attribute points left: {$attributePoints}</p>

    <ul>
        <li>Strength: {$strength}</li>
        <li>Agility: {$agility}</li>
        <li>Toughness: {$toughness}</li>
        <li>Intelligence: {$intelligence}</li>
        <li>Willliower: {$willpower}</li>
        <li>Ego: {$ego}</li>
    </ul>

    {#if $genotype === "Mutated Human"}
        <h3>Mutations:</h3>

        <ul>
            {#each $mutations as mut}
                <li>{mut.name}</li>
            {/each}
        </ul>

        <h3>Calling: {$calling}</h3>
    {:else}
        <h3>Cybernetics</h3>
    {/if}

    <button on:click={submitCharacter}>Submit</button>

</div>

<style>
 ul {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     width: 15em;
 }
</style>
