
<script>
 import Genotype from '../components/Genotype.svelte'
 import Attributes from '../components/Attributes.svelte'
 import Mutations from '../components/Mutations.svelte'
 import Callings from '../components/Callings.svelte'
 import Overview from '../components/Overview.svelte'

 import { genotype } from '../stores/genotypeStore.js'

 let step = 0
</script>

<main>
	{#if step === 0}

		<Genotype />

	{:else if step === 1}

		<Attributes />

	{:else if step === 2}

		<Mutations />

	{:else if step === 3}

		<Callings />

	{:else if step === 4}

		<Overview />

	{/if}

	<button disabled={ step === 0} on:click={ () => step -= 1 }>Previous</button>
	<button on:click={ () => step += 1 }>Next</button>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
