
<script>
 import { route } from '@bjornlu/svelte-router'
 import characterService from '../services/character.js'

 $: id = $route.params.id

 $: character = characterService.getCharacter(id)

 $: {
     console.log(character)
 }

</script>

<main>
    <h1>Character</h1>

    {#await character}
        <p>Loading...</p>
    {:then char}
        <h2>Name:</h2>
        <p>{char.name}</p>

        <h2>Info:</h2>
        <p>{char.info}</p>

        <h2>Genotype:</h2>
        <p>{char.genotype}</p>

        <h2>Attributes:</h2>

        <p>Attribute points left: {char.attributes.attributePoints}</p>
        <ul>
            <li>Strength: {char.attributes.strength}</li>
            <li>Agility: {char.attributes.agility}</li>
            <li>Toughness: {char.attributes.toughness}</li>
            <li>Intelligence: {char.attributes.intelligence}</li>
            <li>Willpower: {char.attributes.willpower}</li>
            <li>Ego: {char.attributes.ego}</li>
        </ul>


        {#if char.genotype === "Mutated Human"}
            <h2>Mutations:</h2>

            <ul>
                {#each char.mutations.mutations as mut}
                    <li>{mut}</li>
                {/each}
            </ul>

            <h2>Calling:</h2>
            <p>{char.calling}</p>
        {:else}
            <h2>Cybernetics</h2>
        {/if}
    {:catch error}
        <h2>Error: Couldn't load the character</h2>
    {/await}
</main>

<style>

 ul {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     width: 10em;
 }

</style>
